.fullWidth {
  flex: 0 0 100%;
  width: 100%;
}
.halfWidth {
  flex: 0 0 50%;
  width: 50%;
}
.thirdWidth {
  flex: 0 0 33%;
  width: 33%;
}
.quarterWidth {
  flex: 0 0 25%;
  width: 25%;
}



.defaultTheme {
  background-color: $blue;
  h1, h2, h3, h4, p, span {
    color: $white;
  }
}
.contrastTheme {
  background-color: $red;
  h1, h2, h3, h4, p, span {
    color: $white;
  }
}
.successTheme {
  background-color: $green;
  h1, h2, h3, h4, p, span {
    color: $white;
  }
}